
.vs/ParallelProgrammingEbook - Copy/v16/Server/sqlite3/db.lock
.vs/ParallelProgrammingEbook - Copy/v16/Server/sqlite3/storage.ide
.vs/ParallelProgrammingEbook - Copy/v16/Server/sqlite3/storage.ide-shm
.vs/ParallelProgrammingEbook - Copy/v16/Server/sqlite3/storage.ide-wal
.vs/ParallelProgrammingEbook/DesignTimeBuild/.dtbcache
.vs/ParallelProgrammingEbook/v16/Server/sqlite3/db.lock
.vs/ParallelProgrammingEbook/v16/Server/sqlite3/storage.ide
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
