################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ch01/bin/Debug
/Ch02/bin/Debug
/Ch02/obj
/Ch01/obj
/Ch03/bin/Debug/netcoreapp3.0
/Ch03/obj
/Ch04/obj
/Ch04/bin/Debug/netcoreapp3.0
/Ch05/obj
/Ch05/bin/Debug/netcoreapp3.0
/Ch06/obj
/Ch06/bin/Debug/netcoreapp3.0
/Ch07/obj
/Ch07/bin/Debug/netcoreapp3.0
/Ch08/1UsingDelegateBeginInvoke/obj
/Ch08/1UsingDelegateBeginInvoke/bin/Debug/netcoreapp3.0
/Ch08/IAsyncResultOldFramework/obj/Debug
/Ch08/IAsyncResultOldFramework/bin/Debug
/Ch09/obj
/Ch09/bin/Debug/netcoreapp3.0
/Ch09Web/bin/Debug/netcoreapp3.0
/Ch09Web/obj
/Ch10/obj
/Ch10/bin/Debug/netcoreapp3.0
/Ch11/MsTestUnitTestCaseProject/obj
/Ch11/MsTestUnitTestCaseProject/bin/Debug/netcoreapp3.0
/Ch11/NUnitTestProject/obj
/Ch11/NUnitTestProject/bin/Debug/netcoreapp3.0
/Ch11/UnitTestingDemo/obj
/Ch11/UnitTestingDemo/bin/Debug/netcoreapp3.0
/Ch12/AsyncStreamsDemo/obj
/Ch12/AsyncStreamsDemo/bin/Debug/netcoreapp3.0
/Ch12/WebApiCoreDemo/bin/Debug/netcoreapp3.0
/Ch12/WebApiCoreDemo/obj
/Ch13/obj
/Ch13/bin/Debug/netcoreapp3.0
/ConsoleApp1/obj
/ConsoleApp2/obj
/.vs
